*.iml
.gradle
ridesharing-frontend/local.properties
.DS_Store
ridesharing-frontend/build
ridesharing-frontend/captures
.externalNativeBuild
ridesharing-frontend/.idea
ridesharing-backend/.idea
/.idea
*.pyc
